<div class="mainWrapper">
  
  <!-- Header Bar (Top Bar/Nav Bar) -->  
  <div class="centeredContainer" id="headerBox">

  <!-- Header/Top Bar (Title/User/Login/Search) -->  
    <div id="top_bar">
      
      <div id="top_left">
        <h1 id="gamezelp_title">GAMEZelp</h1>
        <h4 id="login_btn">
          <%= @curr_user.fname.titleize + " " + @curr_user.lname.titleize %>   
          |   <a href="#">LogIn</a></h4>
      </div>    
      
      <div id="title_image">
        GAMEZelp Title Image (Image set in CSS)
      </div>
        
      <div id="search_box">
        <%= form_tag("/", method: "get") do %>
          <%= search_field("gameSearch", "gameQuery", :placeholder => "Search for game title...")  %>
        <% end %>                
      </div>  
      
      <div id="logo_container">
        <div class="gz_sprite gz_blue_logo">
          GZ Sprite Image
        </div>        
      </div>
        
    </div>
    
  <!-- Header/Nav Menu Bar (Home, MyGames, Platform, About) -->  
    <div class="clearfix" id="nav_bar">
      
      <div class="navBtn" id="btn1">
        <a href="/" id="m1">HOME</a> 
      </div>
      
      <div class="navBtn" id="btn2">
        <a href="#" id="m2">MyGames</a>
        <div class="drop_down">
          <ul>
            <% @prev_queries.each do |query| %>
              <li>
                <%= link_to query, sites_path(:prev_query => query)  %>
              </li>
            <% end %>
          </ul>           
        </div>
      </div>
      
     <div class="navBtn" id="btn4">
        <a href="/" id="m4">About</a>
      </div>
      
      <div class="navBtn" id="btn3">
        <a href="#" id="m3">Platform</a>
        <div class="drop_down">
          <ul>
            <li>ALL (Default)</li>
            <li>PC</li>
            <li>XBox ONE</li>
            <li>XBox 360</li>
            <li>PS3</li>
            <li>PS4</li>
            <li>Wii U</li>
            <li>3DS</li>
            <li>Vita</li>
          </ul>           
        </div>
      </div>
      
     </div>
  
  </div>
    
  <!-- Site Grid Galery -->  
  <div class="sites_wrap">
    
    <% @sites.each_with_index do |site, i| %>
    
      <!-- Define box tile for each site-->
      <div class="site_box">
        <div class="boxInner">
          <div class="titleBox">
            <%= site.name %>
          </div>

          <%=image_tag(site.background_img, alt: "#{site.name} Logo Image")%>
          <div class="guideLinks">   
            
            <!-- List resultant guide links (name,url) for site at index i -->
            <ul>  
              <% if (@site_results[i]) %>      
                <% @site_results[i]["links"].each_with_index do |link, index| %>
                  <li>
                    <%= link_to @site_results[i]["titles"][index], link  %>
                  </li>
                <% end %>
              <% elsif i < 3 %>
                <li><h3>Enter Game Title for Search...</h3></li>
              <% else %>
                <li><h3>Coming Soon...</h3></li>
              <% end %>
            </ul>
              
          </div>
        </div>
      </div> 
    
    <% end %>
      
  </div>

</div>

